:root {
  --bgcolor: #630563;
  --primarycolor: #00bbf0;
  --secondarycolor: #72e1d1;
  --textcolor: #222222;
}
.darkMode {
  --bgcolor: #1d1f20;
  --primarycolor: #00bbf0;
  --secondarycolor: #72e1d1;
  --textcolor: #f7f7f7;
}

