@use "../abstracts/breakpoint" as brk;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.main-content {
  background-color: var(--bgcolor);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
li {
  list-style: none;
}
section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 168px;
  padding-bottom: 168px;
 
}
a {
  text-decoration: none;
}

body,
html {
  overflow-x: hidden;
}
