$dektop: 1440px;
$notebook: 1200px;
$tablet: 768px;
$mobile: 480px;

@mixin device($dispositivo) {
  @if $dispositivo == desktop {
    @media (width >= 1440px) {
      @content;
    }
  }@else if $dispositivo == notebook {
    @media (width<= 1200px) {
      @content;
    }
  }@else if $dispositivo == tablet {
    @media (width <= 768px) {
      @content;
    }
  }@else if $dispositivo == mobile {
    @media (width <= 480px) {
      @content;
    }
  }
}

