@use "./cor";


@mixin font-big {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.1;
  color:  cor.$white;
  }

  @mixin font-marca {
    font-size: 7.5rem;
    font-family: 'Nova Square', sans-serif;
    line-height: 1;
  }

  @mixin font-details {
    font-size: 1.375rem;
    font-family: 'Nova Square', sans-serif;
    line-height: 1.2;
  }