@use "../utility/cor";

.tag-list {
  margin: 0;
  padding-inline: 0;
  background-color: cor.$primary;
}

.tag-list li {
  padding: .2rem;
  font-size: 22px;
  font-weight: 700;
  color: cor.$bg-color;
}

.scroller {
  max-width: 1512px;
  overflow: hidden;
  rotate: -2deg;
  margin-top: 72px;
  
}
.scroller__inner {
  padding-block: .5rem;
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.scroller[data-animated=true] {
   overflow: hidden;
   -webkit-mask: linear-gradient( 90deg, transparent, white 20%, white 80%, transparent);
   mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent )
  
   }
.scroller[data-animated="true"] .scroller__inner  {
 width: max-content;
  flex-wrap: nowrap;
 animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
