@use "../abstracts/mixin" as mix;
@use "../abstracts/breakpoint" as brk;

.home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  &__logo {
    width: 380px;
    text-align: center;
    img {
      max-width: 200px;
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    &__name {
      @include mix.font-marca;
    }
    &__details {
      @include mix.font-details;
      letter-spacing: 4px;
      text-align: center;
      font-weight: 100;
      &::after,
      &::before {
        content: "";
        display: inline-block;
        background-color: var(--primarycolor);
        width: 22px;
        height: 2px;
      }
    }
  }
}

.home__description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__h2 {
    max-width: 820px;
    margin-bottom: 24px;
    @include mix.font-h3;
    span {
      color: var(--secondarycolor);
    }
  }
}
