@use "../utility/cor";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__svg {
    display: block;
    max-width: 100%;
    padding: 10px;
  }

  &__menu {
    display: flex;

    &__links {
      padding: 16px 24px;
      font-size: 1.125rem;
      font-weight: 500;
    }
    &__btn {
      color: cor.$white;
    }
  }
}

a {
  display: inline-block;
  position: relative;
}

a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: cor.$primary ;
  background-image: linear-gradient(
    to left,
    cor.$primary 20%,
    cor.$secondary 80%
  );
  margin-top: 4px;
  border-radius: 50%;
  transition: 0.3s ease;
  position: absolute;
}
a:hover::after {
  width: 100%;
}
